<html>
    <body>
        <h1>Submitted Information</h1>
        <p>Name: <%=name%></p>
        <p>Dojo Location: <%=location%></p>
        <p>Favorite Language: <%=language%></p>
        <p>Comment: <%=comment%></p>
        <form action="/back" method="post">
            <button type="submit" style="background-color:blue; color:white; border:1px solid black;">Go Back</button>
        </form> 
    </body>
</html>